<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>board</title>
</head>
<body>

<div class="container">
    <form th:action="@{/board/{boardId}/edit(boardId=${board.boardId})}" th:object="${board}" method="post">

    <input type="text" th:field="*{boardId}">
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{boardTitle}" class="form-control" placeholder="제목">
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <input type="text" th:field="*{boardContent}" class="form-control" placeholder="내용">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div> <!-- /container -->

</body>
</html>